{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div style="width: 82vw; min-height: 80vh" id="ec-background">

<div class=" ce-container-login container d-flex flex-column align-items-center">
        <div class="ce-form-login p-4 w-50 m-auto d-flex justify-content-center flex-column align-items-center">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'label_attr': {'class': 'sr-only'}},
                {'attr': {'class': 'ce-form-login p-4 m-auto d-flex justify-content-center flex-column'}}) }}

            {{ form_row(registrationForm.email,{'label_attr': {'class':'sr-only'},
                'attr':{'class':'ema-input-main p-2 my-4','placeholder' : 'Saisissez votre Email'}}
            ) }}

            {{ form_row(registrationForm.plainPassword,{'label_attr': {'class':'sr-only'},
                'attr':{'class':'ema-input-main p-2 my-4','placeholder' : 'Saisissez votre mot de passe'}}
            ) }}
            <div class="d-flex justify-content-center">
                Accepter les termes et conditions :
            </div>
            {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class':'sr-only'},
                'attr':{'class':'ema-input-main p-2 my-4','placeholder' : 'Saisissez votre mot de passe'}}
            ) }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="ec-btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
