{% extends 'base.html.twig' %}

{% block title %}Smartphone index{% endblock %}

{% block body %}
    <h1>Liste des Smartphones</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Modèle</th>
            <th>Catégorie</th>
            <th>Vendu</th>
            <th>Avec chargeur</th>
            <th>Stockage</th>
            <th>Mémoire</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for smartphone in smartphones %}
            <tr>
                <td>{{ smartphone.id }}</td>
                <td>{{ smartphone.model}}</td>
                <td>{{ smartphone.category.categoryCode}}</td>
                <td>{{ smartphone.isSold ? 'Oui' : 'Non' }}</td>
                <td>{{ smartphone.hasCharger ? 'Oui' : 'Non' }}</td>
                <td>{{ smartphone.storage.goStorage}}</td>
                <td>{{ smartphone.memory}}</td>
                <td>{{ smartphone.category.price}}&nbsp;Euros</td>
                <td>
                    <a href="{{ path('app_smartphone_show', {'id': smartphone.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="{{ path('app_smartphone_new') }}"><button class="ec-btn mt-5 w-25">{{ button_label|default('Ajouter') }}</button></a>

{% endblock %}