{% extends 'base.html.twig' %}

{% block title %}Smartphone index{% endblock %}

{% block body %}
<div style="width: 82vw; min-height: 80vh" id="ec-background">

<h1 class="display-1 fw-bold">Smartphone index</h1>

    <table class="table shadow-lg">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>IsSold</th>
                <th>HasCharger</th>
                <th >CreatedAt</th>
                <th  >UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for smartphone in smartphones %}
            <tr>
                <td>{{ smartphone.id }}</td>
                <td>{{ smartphone.model}}</td>
                <td>{{ smartphone.isSold ? 'Yes' : 'No' }}</td>
                <td>{{ smartphone.hasCharger ? 'Yes' : 'No' }}</td>
                <td >{{ smartphone.createdAt ? smartphone.createdAt|date('Y-m-d
                H:i:s') :
                    '' }}</td>
                <td >{{ smartphone.updatedAt ? smartphone.updatedAt|date('Y-m-d H:i:s') :
                    '' }}</td>
                <td>
                    <a href="{{ path('app_smartphone_show', {'id': smartphone.id}) }}" class="ec-btn text-center w-25
">Voir</a>
                    <a href="{{ path('app_smartphone_edit', {'id': smartphone.id}) }}" class="ec-btn text-center w-25
">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_smartphone_new') }}" class="ec-btn text-center w-25">Ajouter un nouveau mobile</a>
</div>
{% endblock %}
